<div class="hero">
    <div class="hero__video">
        <video autoplay playsinline muted>
            <source src="/video/ps5-trailer.mp4" type="video/mp4">
        </video>
    </div>
    <div class="hero__section">
        <h1 class="hero__section__heading">The Most Powerful Console Yet</h1>
        <a href="#" class="btn btn__primary btn__primary--white hero__section__button">Discover The Future Of Gaming</a>
        <div class="scroll">
            <span class="scroll__text">Scroll To Skip</span>
            {% include scroll-icon.html %}
        </div>
    </div>
</div>
