<div class="home__grid">
    <a class="home__grid__item home__grid__item--1">
        <div class="home__grid__item__cover"></div>
        <h3 class="home__grid__item__title">Check out the PS5</h3>
        <p class="home__grid__item__subtitle">See exactly why our next generation console is so awesome</p>
        <img class="home__grid__item__image" src="/img/ps5-with-controller.webp" alt="ps5 with controller">
    </a>
    <a class="home__grid__item home__grid__item--2">
        <h3 class="home__grid__item__title">Our perfectly designed controller</h3>
        <p class="home__grid__item__subtitle"></p>
    </a>
    <a class="home__grid__item home__grid__item--3"></a>
    <a class="home__grid__item home__grid__item--4"></a>
    <a class="home__grid__item home__grid__item--5"></a>
    <a class="home__grid__item home__grid__item--6"></a>
    <a class="home__grid__item home__grid__item--7"></a>
    <a class="home__grid__item home__grid__item--8"></a>
    <a class="home__grid__item home__grid__item--9"></a>
    <a class="home__grid__item home__grid__item--10"></a>
</div>
