<div class="home__grid">
    <div id="carousel" class="home__grid__item--1 home__grid__carousel-parent">
        <a class="home__grid__item home__grid__item__carousel-item" href="#">
            <div class="home__grid__item__cover"></div>
            <h3 class="home__grid__item__title home__grid__item__carousel-item__title">The Power Of The PS5</h3>
            <p class="home__grid__item__subtitle home__grid__item__carousel-item__subtitle">See exactly why our next
                generation console is so awesome</p>
            <img class="home__grid__item__image" src="/img/ps5-close.webp" alt="ps5 with controller">
        </a>
        <a class="home__grid__item home__grid__item__carousel-item" href="#">
            <div class="home__grid__item__cover"></div>
            <h3 class="home__grid__item__title home__grid__item__carousel-item__title">Check out the PS5</h3>
            <p class="home__grid__item__subtitle home__grid__item__carousel-item__subtitle">See exactly why our next
                generation console is so awesome</p>
            <img class="home__grid__item__image" src="/img/ps5-close.webp" alt="ps5 with controller">
        </a>
    </div>
    <a class="home__grid__item home__grid__item--2">
        <div class="home__grid__item__cover"></div>
        <h3 class="home__grid__item__title">Check out the PS5</h3>
        <p class="home__grid__item__subtitle">See exactly why our next
            generation console is so awesome</p>
        <img class="home__grid__item__image" src="/img/ps5-close.webp" alt="ps5 with controller">
    </a>
    <a class="home__grid__item home__grid__item--3">
        <div class="home__grid__item__cover"></div>
        <h3 class="home__grid__item__title">Check out the PS5</h3>
        <p class="home__grid__item__subtitle">See exactly why our next
            generation console is so awesome</p>
        <img class="home__grid__item__image" src="/img/ps5-close.webp" alt="ps5 with controller">
    </a>
    <a class="home__grid__item home__grid__item--4">
        <div class="home__grid__item__cover"></div>
        <h3 class="home__grid__item__title">Check out the PS5</h3>
        <p class="home__grid__item__subtitle">See exactly why our next generation console is so awesome</p>
        <img class="home__grid__item__image" src="/img/ps5-close.webp" alt="ps5 with controller">
    </a>
    <a class="home__grid__item home__grid__item--5">
        <div class="home__grid__item__cover"></div>
        <h3 class="home__grid__item__title">Check out the PS5</h3>
        <p class="home__grid__item__subtitle">See exactly why our next generation console is so awesome</p>
        <img class="home__grid__item__image" src="/img/ps5-close.webp" alt="ps5 with controller">
    </a>
    <a class="home__grid__item home__grid__item--6">
        <div class="home__grid__item__cover"></div>
        <h3 class="home__grid__item__title">Check out the PS5</h3>
        <p class="home__grid__item__subtitle">See exactly why our next generation console is so awesome</p>
        <img class="home__grid__item__image" src="/img/ps5-close.webp" alt="ps5 with controller">
    </a>
    <a class="home__grid__item home__grid__item--7">
        <div class="home__grid__item__cover"></div>
        <h3 class="home__grid__item__title">Check out the PS5</h3>
        <p class="home__grid__item__subtitle">See exactly why our next generation console is so awesome</p>
        <img class="home__grid__item__image" src="/img/ps5-close.webp" alt="ps5 with controller">
    </a>
    <a class="home__grid__item home__grid__item--8">
        <div class="home__grid__item__cover"></div>
        <h3 class="home__grid__item__title">Check out the PS5</h3>
        <p class="home__grid__item__subtitle">See exactly why our next generation console is so awesome</p>
        <img class="home__grid__item__image" src="/img/ps5-close.webp" alt="ps5 with controller">
    </a>
</div>
