<div class="home__hero">
    <img class="home__hero__image" src="img/ps5-landing.webp" alt="ps5">
    <div class="home__hero__video">
        <video autoplay playsinline muted>
            <source src="video/ps5-trailer.mp4" type="video/mp4">
        </video>
    </div>
    <div class="home__hero__section">
        <h1 class="home__hero__section__heading">The Most Powerful Console Yet</h1>
        <a href="{{site.url}}ps5" class="btn btn__primary btn__primary--white home__hero__section__button">Discover The
            Future Of
            Gaming</a>
        {% include scroll.html %}
    </div>
</div>
