<div class="home__grid">
    <div id="carousel" class="home__grid__item--1 home__grid__carousel-parent">
        <a class="home__grid__item home__grid__item__carousel-item" href="{{site.url}}ps5">
            <div class="home__grid__item__cover"></div>
            <h3 class="home__grid__item__title home__grid__item__carousel-item__title">The Power Of The PS5</h3>
            <p class="home__grid__item__subtitle home__grid__item__carousel-item__subtitle">See why the next
                generation of PlayStation is so awesome</p>
            <img class="home__grid__item__image" src="img/ps5-close.webp" alt="ps5 with controller">
        </a>
        <a class="home__grid__item home__grid__item__carousel-item" href="#">
            <div class="home__grid__item__cover"></div>
            <h3 class="home__grid__item__title home__grid__item__carousel-item__title">Latest PlayStation News</h3>
            <p class="home__grid__item__subtitle home__grid__item__carousel-item__subtitle">Catch up on the latest
                PlayStation news</p>
            <img class="home__grid__item__image" src="img/spiderman.jpg" alt="spiderman morales">
        </a>
        <a class="home__grid__item home__grid__item__carousel-item" href="#">
            <div class="home__grid__item__cover"></div>
            <h3 class="home__grid__item__title home__grid__item__carousel-item__title">PlayStation Blog</h3>
            <p class="home__grid__item__subtitle home__grid__item__carousel-item__subtitle">Unearth some hidden gems
                from PlayStation enthusiasts</p>
            <img class="home__grid__item__image" src="img/ps-logo.jpg" alt="playstation logo">
        </a>
    </div>
    <a class="home__grid__item home__grid__item--2" href="#">
        <div class="home__grid__item__cover"></div>
        <h3 class="home__grid__item__title">PlayStation Store</h3>
        <p class="home__grid__item__subtitle">Discover your next adventure with PlayStation</p>
        <img class="home__grid__item__image" src="img/ps-store.jpg" alt="playstation store">
    </a>
    <a class="home__grid__item home__grid__item--3" href="#">
        <div class="home__grid__item__cover"></div>
        <h3 class="home__grid__item__title">Upgrade To The PS4 Pro</h3>
        <p class="home__grid__item__subtitle">A huge step up in gaming power</p>
        <img class="home__grid__item__image" src="img/ps4-pro.jpg" alt="ps4 pro">
    </a>
    <a class="home__grid__item home__grid__item--4" href="#">
        <div class="home__grid__item__cover"></div>
        <h3 class="home__grid__item__title">Immersive PSVR</h3>
        <p class="home__grid__item__subtitle">Immerse yourself like never before with PSVR</p>
        <img class="home__grid__item__image" src="img/psvr.jpg" alt="psvr">
    </a>
    <a class="home__grid__item home__grid__item--5" href="#">
        <div class="home__grid__item__cover"></div>
        <h3 class="home__grid__item__title">Confirmed PS5 Games</h3>
        <p class="home__grid__item__subtitle">Check out the amazing games coming exclusively to the PS5</p>
        <img class="home__grid__item__image" src="img/horizon.jpg" alt="horizon forbidden west">
    </a>
    <a class="home__grid__item home__grid__item--6" href="#">
        <div class="home__grid__item__cover"></div>
        <h3 class="home__grid__item__title">Our Best Controller Yet</h3>
        <p class="home__grid__item__subtitle">A result of years of research and experience</p>
        <img class="home__grid__item__image" src="img/ps5-controller.webp" alt="ps5 controller">
    </a>
    <a class="home__grid__item home__grid__item--7" href="#">
        <div class="home__grid__item__cover"></div>
        <h3 class="home__grid__item__title">PS Plus</h3>
        <p class="home__grid__item__subtitle">Unlimited online multiplayer, store discounts and free monthly games</p>
        <img class="home__grid__item__image" src="img/psplus.jpg" alt="ps plus">
    </a>
    <a class="home__grid__item home__grid__item--8" href="#">
        <div class="home__grid__item__cover"></div>
        <h3 class="home__grid__item__title">PS Now</h3>
        <p class="home__grid__item__subtitle">Stream or download hundreds of games on demand</p>
        <img class="home__grid__item__image" src="img/psnow.jpg" alt="ps now">
    </a>
    <a class="home__grid__item home__grid__item--9" href="#">
        <div class="home__grid__item__cover"></div>
        <h3 class="home__grid__item__title">About Us</h3>
        <p class="home__grid__item__subtitle">Read about our history and our vision for the future</p>
    </a>
    <a class="home__grid__item home__grid__item--10" href="#">
        <div class="home__grid__item__cover"></div>
        <h3 class="home__grid__item__title">Contact Us</h3>
        <p class="home__grid__item__subtitle">Get in touch with our support team</p>
    </a>
</div>
