<nav id="menu" class="menu">
    <div class="menu__content">

        <div class="menu__content__content-left">
            <a class="menu__content__content-left__item" href="/ps5">
                <div class="home__grid__item__cover"></div>
                <h3 class="home__grid__item__title ">The Power Of The PS5</h3>
                <p class="home__grid__item__subtitle">See why the next
                    generation of PlayStation is so awesome</p>
                <img class="home__grid__item__image" src="img/ps5-close.webp" alt="ps5 with controller">
            </a>
            <a class="menu__content__content-left__item" href="#">
                <div class="home__grid__item__cover"></div>
                <h3 class="home__grid__item__title">Confirmed PS5 Games</h3>
                <p class="home__grid__item__subtitle">Check out the amazing games coming exclusively to the PS5</p>
                <img class="home__grid__item__image" src="img/horizon.jpg" alt="horizon forbidden west">
            </a>
            <a class="menu__content__content-left__item" href="#">
                <div class="home__grid__item__cover"></div>
                <h3 class="home__grid__item__title ">Latest PlayStation News</h3>
                <p class="home__grid__item__subtitle">Catch up on the latest
                    PlayStation news</p>
                <img class="home__grid__item__image" src="img/spiderman.jpg" alt="spiderman morales">
            </a>
            <a class="menu__content__content-left__item" href="#">
                <div class="home__grid__item__cover"></div>
                <h3 class="home__grid__item__title">PlayStation Blog</h3>
                <p class="home__grid__item__subtitle">Unearth some hidden gems
                    from PlayStation enthusiasts</p>
                <img class="home__grid__item__image" src="img/ps-logo.jpg" alt="playstation logo">
            </a>
        </div>
        <div class="menu__content__content-right">
            <a href="#" class="menu__content__content-right__link">PlayStation 5</a>
            <a href="#" class="menu__content__content-right__link">PlayStation 4</a>
            <a href="#" class="menu__content__content-right__link">PS VR</a>
            <a href="#" class="menu__content__content-right__link">PS Now</a>
            <a href="#" class="menu__content__content-right__link">PS Store</a>
            <a href="#" class="menu__content__content-right__link">PS Blog</a>
            <a href="#" class="menu__content__content-right__link">PS News</a>
            <a href="#" class="menu__content__content-right__link">About Us</a>
            <a href="#" class="menu__content__content-right__link">Contact Us</a>
        </div>
    </div>
    <div class="menu__empty"></div>
</nav>
