.btn {
    @include clickable;
    font-size: var(--font-size-xs);
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    background: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;

    &__primary {
        min-width: 14rem;
        min-height: 4.8rem;
        padding: 0 5rem;
        background: #fff;

        &--white {
            border: 1px solid var(--color-white);
            color: var(--color-text-primary-1);

            &::after {
                border: 1px solid var(--color-white);
            }
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 1rem;
            left: -1rem;
            transition: var(--transition);
        }

        &:hover {
            &::after {
                top: 0.5rem;
                left: -0.5rem;
            }
        }
    }
}
